name: Continuous Build and Deployment to AWS 

on:
#  push:
#     branches:
#       - main
#       - develop
#   pull_request: 
#     branches: 
#       - main
#       - develop
  workflow_dispatch:
    inputs:
      environment:
        description: "Target environment"
        required: true
        default: "dev"
      docker_build_dir:
        description: "Docker build context"
        required: false
        default: "."
      path_to_dockerfile:
        description: "Path to Dockerfile"
        required: false
        default: "Dockerfile"
      image_tag:
        description: "Optional image tag. If empty: uses Git tag (vX.Y.Z) or short SHA"
        required: false
        default: ""

permissions:
  id-token: write
  contents: read

env:
  NAMESPACE: cloud-native-ecs-app
  AWS_REGION: ap-south-1

jobs:
  terraform-apply:
    name: Terraform plan-apply
    runs-on: ubuntu-latest
    if: |
      github.event_name == 'push' &&
      (github.ref_name == 'main' || github.ref_name == 'develop')

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Determine environment
        id: env_selector
        run: |
          if [[ "${GITHUB_REF_NAME}" == "main" ]]; then
            echo "env=prod" >> $GITHUB_OUTPUT
          elif [[ "${GITHUB_REF_NAME}" == "develop" ]]; then
            echo "env=dev" >> $GITHUB_OUTPUT
          fi

      - name: Deploy 
        uses: ./.github/actions/deploy
        with:
          aws_account_id: ${{ secrets.AWS_ACCOUNT_ID }}
          environment: ${{ steps.env_selector.outputs.env }}


  docker-build:
    runs-on: ubuntu-latest
    needs: [terraform-apply]

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: configure aws credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::${{ secrets.AWS_ACCOUNT_ID }}:role/github-actions-code-build
          aws-region: ${{ env.AWS_REGION }}
      
      - name: Compute environment
        id: compute_env
        run: |
          if [[ "${{ github.event_name }}" == "workflow_dispatch" ]]; then
            ENV="${{ inputs.environment }}"
          else
            if [[ "${GITHUB_REF_NAME}" == "main" ]]; then
              ENV="prod"
            elif [[ "${GITHUB_REF_NAME}" == "develop" ]]; then
              ENV="dev"
            else
              ENV="dev"
            fi
          fi
          echo "env=$ENV" >> "$GITHUB_OUTPUT"

      - name: Compute ECR repository name
        id: compute_ecr
        run: |
          REPO="${{ env.NAMESPACE }}-${{ steps.compute_env.outputs.env }}-ecr"
          echo "ecr_repository=$REPO" >> "$GITHUB_OUTPUT"


      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2
        with:
          registries: ${{ secrets.AWS_ACCOUNT_ID }}

      
      - name: Compute IMAGE_TAG
        id: compute_tag
        run: |
          TAG="${{ github.event.inputs.image_tag || github.sha::7 }}"
          echo "IMAGE_TAG=$TAG" >> "$GITHUB_ENV"


      - name: Build, tag, and push image to Amazon ECR
        id: build-publish
        shell: bash
        env:
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          ECR_REPOSITORY: ${{ steps.compute_ecr.outputs.ecr_repository }}
          IMAGE_TAG: ${{ env.IMAGE_TAG }}
        run: |
          docker build "${{ inputs.docker_build_dir || '.' }}" \
            -f "${{ inputs.path_to_dockerfile || 'Dockerfile' }}" \
            -t "$ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG"
          docker push "$ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG"
          echo "image_tag=$IMAGE_TAG" >> "$GITHUB_OUTPUT"
          echo "full_image=$ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG" >> "$GITHUB_OUTPUT"
