name: Continuous Build and Deployment to AWS 

# on:
#   push:
#     branches:
#       - main
#       - develop
#   pull_request: 
#     branches: 
#       - main
#       - develop
  workflow_dispatch:
      
permissions:
  id-token: write
  contents: read

env:
  NAMESPACE: cloud-native-ecs-app
  AWS_REGION: ap-south-1
  IMAGE_NAME: cloud-native-ecs-python-app

jobs:
  terraform-apply:
    name: Terraform plan-apply
    runs-on: ubuntu-latest

    # Run for specific branches only
    if: |
      github.event_name == 'push' &&
      (github.ref_name == 'main' || github.ref_name == 'develop')

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Determine environment
        id: env_selector
        run: |
          if [[ "${GITHUB_REF_NAME}" == "main" ]]; then
            echo "env=prod" >> $GITHUB_OUTPUT
          elif [[ "${GITHUB_REF_NAME}" == "develop" ]]; then
            echo "env=dev" >> $GITHUB_OUTPUT
          fi

      - name: Deploy 
        uses: ./.github/actions/deploy
        with:
          aws_account_id: ${{ secrets.AWS_ACCOUNT_ID }}
          environment: ${{ steps.env_selector.outputs.env }}


  docker-build:
    runs-on: ubuntu-latest
    needs: [terraform-apply]

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: configure aws credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::${{ inputs.AWS_ACCOUNT_ID }}:role/github-actions-code-build
          aws-region: ${{ env.AWS_REGION }}

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2
        with:
          registries: ${{ secrets.AWS_ACCOUNT_ID }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Build Docker image
        run: |
          docker build -t cloud-native-ecs-python-app .
          docker tag rock-paper-scissors-app:latest ${{ steps.login-ecr.outputs.registry }}/cloud-native-ecs-python-app:latest

      - name: Push Docker image to ECR
        run: |
          docker push ${{ steps.login-ecr.outputs.registry }}/cloud-native-ecs-python-app:latest

      - name: Output image URL
        run: |
          echo "Image URL: ${{ steps.login-ecr.outputs.registry }}/cloud-native-ecs-python-app:latest"

